# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenvs
env/
backend/env/
frontend/env/
venv/
.venv/

# Large binary/compiled files
*.dll
*.pyd
*.lib
*.exe
*.so

# Editor
.vscode/
.idea/
.DS_Store

# Node
node_modules/
package-lock.json

# pip
pip-wheel-metadata/
*.egg-info/

# OS
Thumbs.db
